<div class="bar bar-header bar-positive">
    <h1 class="title">Note Egg</h1>
    <button class="button icon ion-log-in" ng-class="{hidden:!showSigninButton}" ng-click="authDropbox()">Sign In</button>
    <button class="button icon ion-checkmark-round" ng-class="{hidden:showWaitingBar||showSigninButton}" ng-click="writeNotes()">Commit</button>
</div>

<!-- content area -->
<content
        has-header="true"
        has-footer="true"
        scroll="true"
        on-refresh="onRefresh()"
        >

    <!-- for pull to refresh -->
    <refresher></refresher>

    <!-- content -->
    <div ng-class="{hidden:!showWaitingBar}">Wait while retrieving data from Dropbox...</div>
    <!--<div class="newline notepad" contentEditable ng-model="notesContainer.notes"></div>-->
    <textarea class="topcoat-textarea" rows="15" placeholder="Enter your first note" ng-model="notesContainer.notes"></textarea>
</content>

<footer-bar>
    <div style="color: blue">{{ logs }}</div>
    <div ng-class="{hidden:!showSigninButton}" style="color: red">{{ errors }}</div>
</footer-bar>