<div class="bar bar-header bar-positive">
    <a class="button button-icon icon ion-arrow-left-c" ng-click="goto('/')"></a>

    <h1 class="title">{{ activeNote.content | firstline }}</h1>
    <a class="button icon ion-checkmark-round" ng-click="writeNote(activeNote)">Commit</a>
</div>

<!-- content area -->
<content
        has-header="true"
        has-footer="false"
        scroll="true"
        overflow-scroll="true"
        on-refresh="onRefresh()"
        >

    <!-- for pull to refresh -->
    <refresher></refresher>

    <!-- content -->
    <div class="newline notepad" contenteditable="true" plain-text="true" ng-model="activeNote.content"></div>
</content>
