<side-menus>

    <!-- Center content -->
    <pane side-menu-content>
        <header class="bar bar-header bar-positive">
            <button class="button button-icon icon ion-ios7-minus-outline"
                    ng-click="showDelete=!showDelete"></button>
            <h1 class="title">{{activeNotebook.title}}</h1>
            <button class="button icon ion-plus" ng-click="newNote()">
                New
            </button>
        </header>
        <content has-header="true" scroll="true">
            <list show-delete="showDelete" on-delete="onItemDelete(item)" option-buttons="itemButtons">
                <item class="arrowList" ng-repeat="note in activeNotebook.notes" item="item" href="noteEdit">
                    {{note.title}}
                </item>
            </list>
        </content>
    </pane>

    <!-- Left menu -->
    <side-menu side="left">
        <header class="bar bar-header bar-positive">
            <button class="button button-icon icon ion-ios7-minus-outline"
                    ng-click="showDelete=!showDelete"></button>
            <h1 class="title">Notebooks</h1>
            <button class="button icon ion-plus" ng-click="newNotebook()"></button>
        </header>
        <content has-header="true" scroll="false">
            <list show-delete="showDelete" on-delete="onItemDelete(item)" can-reorder="true" show-reorder="true">
                <item ng-repeat="notebook in notebooks" ng-click="selectNotebook(notebook)"
                      ng-class="{active: activeNotebook == notebook}">
                    {{notebook.title}}
                </item>
            </list>
        </content>
    </side-menu>

</side-menus>