<div class="bar bar-header bar-positive">
    <h1 class="title">contenteditable div</h1>
</div>

<content
        has-header="true"
        has-footer="true"
        scroll="true"
        >

    <div contenteditable="true"
         style="-webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto;">
        <div>1. some note that should be editable</div>
        <div>2. some note that should be editable</div>
        <div>3. some note that should be editable</div>
        <div>4. some note that should be editable</div>
        <div>5. some note that should be editable</div>
    </div>

</content>

<footer-bar>
    <h1 class="title">Footer</h1>
</footer-bar>