<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Note Egg</title>

    <script>
        if (document.URL.indexOf('https://') !== -1 || document.URL.indexOf('http://') !== -1) {
            // if not phonegap, set base url for html5mode
            document.write('<base href="' + document.location + '" />');

            // adapt ui-route, see: https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#wiki-issue-my-assets-and-templates-are-not-loading
//            var baseUrls = document.location.toString().split("/");
//            if (baseUrls[4] === "www") {
//                document.write('<base href="/' + baseUrls[3] + '/' + baseUrls[4] + '/" />');
//            } else {
//                document.write('<base href="/' + baseUrls[3] + '/" />');
//            }
        }
    </script>

    <script type="text/javascript">
        var intervalCounter = 0;
        function hideToast() {
            var alert = document.getElementById("toast");
            alert.style.opacity = 0;
            clearInterval(intervalCounter);
        }
        function showToast() {
            var alert = document.getElementById("toast");
            alert.style.opacity = .9;
            intervalCounter = setInterval("hideToast()", 5000);
        }
    </script>

    <script src="cordova.js"></script>
    <script src="lib/dropbox/dropbox.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-touch.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/angular-ui/angular-ui-router.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/ionic.js"></script>
    <script src="lib/ionic-angular.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>

    <link rel="stylesheet" href="css/ionic.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="myApp">

<div ng-view ng-controller="DropboxCtrl"></div>

<script id="notes.html" type="text/ng-template">
    <side-menus>
        <!-- Center content -->
        <pane side-menu-content>
            <header class="bar bar-header bar-positive">
                <!--<button class="button button-icon icon ion-ios7-minus-outline"-->
                <!--ng-click="showDelete=!showDelete"></button>-->
                <button ng-hide="uiContainer.showSigninButton" class="button button-icon" ng-click="toggleNotebooks()">
                    <i class="icon ion-navicon-round"></i>
                </button>
                <button ng-show="uiContainer.showSigninButton" class="button icon ion-log-in" ng-click="authDropbox()">
                    Sign In
                </button>
                <h1 class="title">{{activeNotebook.title}}</h1>
                <a class="button icon ion-plus" ng-click="setActiveNote(-1)" ng-if="activeNotebook">
                    New
                </a>
            </header>
            <content has-header="true" has-footer="false" scroll="true" on-refresh="refreshNotebooks()">
                <list option-buttons="itemButtons">
                    <item class="arrowList" ng-repeat="note in activeNotebook.notes" item="$index"
                          ng-click="setActiveNote($index)">
                        {{note.title}}
                    </item>
                </list>
                <div id="toast" style="opacity: 0;">{{toast.message}}</div>
                <refresher></refresher>
            </content>
        </pane>

        <!-- Left menu -->
        <side-menu side="left">
            <header class="bar bar-header bar-positive">
                <button ng-hide="uiContainer.showSigninButton" class="button button-icon icon ion-ios7-minus-outline"
                        ng-click="showDelete=!showDelete"></button>
                <h1 class="title">Notebooks</h1>
                <button ng-hide="uiContainer.showSigninButton" class="button button-icon icon ion-ios7-plus-outline"
                        ng-click="newNotebook()"></button>
            </header>
            <content has-header="true" scroll="false">
                <list show-delete="showDelete" on-delete="onNotebookDelete(item)" can-reorder="false"
                      show-reorder="true"
                      reorder-icon="ion-drag" on-reorder="onReorder(el, start, end)">
                    <item ng-repeat="notebook in notebooks" ng-click="selectNotebook($index)"
                          ng-class="{active: activeNotebook == notebook}" item="$index">
                        {{notebook.title}}
                    </item>
                </list>
            </content>
        </side-menu>
    </side-menus>
</script>

<script id="noteEdit.html" type="text/ng-template">
    <div class="bar bar-header bar-positive">
        <a class="button button-icon icon ion-arrow-left-c" ng-click="gotoHome()"></a>

        <h1 class="title" ng-if="!activeNote.title">{{ activeNote.content | firstline }}</h1>

        <h1 class="title" ng-if="activeNote.title">{{ activeNote.title | firstline }}</h1>

        <a class="button icon ion-checkmark-round" ng-click="writeNote(activeNote)">Commit</a>
    </div>

    <!-- content area -->
    <content
            has-header="true"
            has-footer="false"
            scroll="true"
            overflow-scroll="true"
            >

        <!-- content -->
        <div class="newline notepad" contenteditable="true" plain-text="true" ng-model="activeNote.content"></div>
    </content>
</script>

</body>
</html>